<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Chat Boot Pao</title>
		<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbar-static/">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/navbar-top.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}">
		<script th:src="@{/js/jquery/3.3.1/jquery.min.js}"></script>	
		<script th:src="@{/js/consultaLibro.js}"></script>	

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <IMG  th:src="@{/img/libros.png}" width="50" height="50">
  <a class="navbar-brand" href="#">&nbsp &nbsp &nbsp Recomendador de libros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Consultar</a>
      </li>
      
    </ul>
    
  </div>
</nav>
<!--
<div class="container-sm">
     <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Consultar libros" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-success" type="button" id="button-addon2">Buscar</button>
  </div>
</div>
</div> -->

<div class="container">
<form  id="formchat" th:object="${chatDto}">

  <div class="row" >
    <div class="col">
      <div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">Chat</div>
    </div>
    <ul class="messages"></ul>
    <div></div>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input class="message_input" placeholder="Type your message here..." th:field="*{solicitud}"/>
        </div>
        <div class="send_message">
            <div class="icon"></div>
            <div class="text">Send</div>
        </div>
    </div>
</div>
<div class="message_template">
    <div class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text" id="textoChat"></div>
        </div>
    </div>
</div>
</div>
</div>
</form>
<input type="hidden" th:value="*{respuesta}" id="inputMessageChat">
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
	
	
  (function () {
     var Message;
     Message = function (arg) {
         this.text = arg.text, this.message_side = arg.message_side;
         this.draw = function (_this) {
             return function () {
                 var $message;
                 $message = $($('.message_template').clone().html());
                 $message.addClass(_this.message_side).find('.text').html(_this.text);
                 $('.messages').append($message);
                 return setTimeout(function () {
                     return $message.addClass('appeared');
                 }, 0);
             };
         }(this);
         return this;
     };
     $(function () {
         var getMessageText, message_side, sendMessage;
        	message_side = 'right';
         	getMessageText = function () {
             var $message_input;
             $message_input = $('.message_input');
         	var parametro = $("#formchat").serialize();
	         $.ajax({
        		type : 'POST',
        		url : '/dairis/chat',
        		data : parametro,
        		success : function(data) {
        			var o = JSON.parse(data.success);
        			console.log('holaaaaaaaa....'+o.success);
        		},
        		error : function(data){
        			var informacionError = data.responseText;
        			var jsonResponse = JSON.parse(informacionError);
        		}
	        });
             
             
             return $message_input.val();
         };
         sendMessage = function (text) {
             var $messages, message;
             if (text.trim() === '') {
                 return;
             }
             $('.message_input').val('');
             $messages = $('.messages');
             message_side = message_side === 'left' ? 'right' : 'left';
             message = new Message({
                 text: text,
                 message_side: message_side
             });
             message.draw();
             return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
         };
         $('.send_message').click(function (e) {
             return sendMessage(getMessageText());
         });
         $('.message_input').keyup(function (e) {
             if (e.which === 13) {
                 return sendMessage(getMessageText());
             }
         });
     });
 }.call(this));
});
</script>
    </div>

    
    <div class="col">
      LISTADO DE RECOMENDACIONES
      <table class="table">
         <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Libro</th>
                <th scope="col">Autor</th>
                <th scope="col">Libreria</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
	            <tr th:each="libro, rowStat : ${lstLibros}">
	            	<td  style="vertical-align: middle;" th:text="${rowStat.count}"></td>
	            	<td style="vertical-align: middle;" th:text="${libro.nombreLibro}"></td>
	            	<td style="vertical-align: middle;" th:text="${libro.autor}"></td>
	            	<td style="vertical-align: middle;" th:text="${libro.libreria}"></td>
	            	<td style="vertical-align: middle;" th:text="${libro.precio}"></td>
	            </tr>
            </tbody>
          </table>
    </div>




  </div>

 <!-- 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->

</html>